{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
  <div class="row">
    <h1>About E-digital Network</h1>
  <p>E-digital Network is a non-profit tech company that develops software applications and provides them to students and institutions for free. We are dedicated to empowering the next generation by offering work-ready training to youth without any cost.</p>
  <p>Our mission is to bridge the digital divide and create equal opportunities for all. We believe that access to technology and quality education should not be limited by financial constraints.</p>
  <p>Through our software applications, we aim to revolutionize the education sector and enhance learning experiences for students and teachers. By providing free access to our tools, we encourage innovation, collaboration, and growth in educational institutions.</p>
  <p>Join us in our mission to shape the future of education and empower young minds with the skills they need to succeed in the digital age.</p>
    <div class="col-lg-8">

    </div>
  
{% endblock %}

</div>
</div>