{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Featured News Slider Start -->
<div class="container-fluid pt-5 mb-3">
    <div class="container">
        <div class="section-title">
            <h4 class="m-0 text-uppercase font-weight-bold">Featured News</h4>
        </div>
        <div class="owl-carousel news-carousel carousel-item-4 position-relative">
            {% for post in posts %}
            <div class="position-relative overflow-hidden" style="height: 300px;">
                {% if post.image %}
                <img class="img-fluid h-100" src="{{ post.image.url }}" style="object-fit: cover;">
                {% endif %}
                <div class="overlay">
                    <div class="mb-2">
                        <a class="text-white" href=""><small>{{ post.created_on|date:"M d, Y" }}</small></a>
                    </div>
                    {% if user.is_authenticated %}
                    <a class="h6 m-0 text-white text-uppercase font-weight-semi-bold" href="{% url 'blog_detail' post.slug %}">{{ post.title|truncatewords:10 }}</a>
                    {% else %}
                    <a class="h6 m-0 text-white text-uppercase font-weight-semi-bold" href="#">{{ post.title|truncatewords:10 }}</a>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Featured News Slider End -->

<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-12"> 
                        <div class="section-title">
                            <h4 class="m-0 text-uppercase font-weight-bold">Latest News</h4>
                        </div>
                    </div>
                    {% for post in posts %}
                    <div class="col-lg-6">
                        <div class="position-relative mb-3">
                            {% if post.image %}
                            <img class="img-fluid w-100" src="{{ post.image.url }}" style="object-fit: cover;">
                            {% endif %}
                            <div class="bg-white border border-top-0 p-4">
                                <div class="mb-2">
                                    <a class="text-body" href="#"><small>{{ post.created_on|date:"F j, Y" }}</small></a>
                                </div>
                                {% if user.is_authenticated %}
                                <a class="h4 d-block mb-3 text-secondary text-uppercase font-weight-bold" href="{% url 'blog_detail' post.slug %}">{{ post.title }}</a>
                                <p class="m-0">{{ post.body|truncatewords:20 }}</p>
                                {% else %}
                                <a class="h4 d-block mb-3 text-secondary text-uppercase font-weight-bold" href="#">{{ post.title }}</a>
                                <p class="m-0">{{ post.body|truncatewords:20 }}</p>
                                {% endif %}
                                <div class="mt-3">
                                    {% if user.is_authenticated %}
                                    <a href="{% url 'blog_detail' post.slug %}" class="btn btn-primary">Read more</a>
                                    <button class="like-btn btn btn-outline-primary ml-2" data-post-id="{{ post.id }}">
                                        {% if user in post.likes.all %}Unlike{% else %}Like{% endif %}
                                    </button>
                                    <span class="like-count ml-2">{{ post.likes.count }} Likes</span>
                                    {% else %}
                                    <a href="{% url 'login' %}" class="btn btn-primary">Read more</a>
                                    {% endif %}
                                </div>
                                {% if user.is_authenticated and user == post.writer %}
                                <!-- Edit and Delete buttons -->
                                <div class="mt-3">
                                    <a href="{% url 'edit_blog_post' post.slug %}" class="btn btn-secondary">Edit</a>
                                    <!--<a href="{% url 'delete_blog_post' post.slug %}" class="btn btn-danger">Delete</a>-->
                                </div>
                                {% endif %}
                            </div>
                            <div class="d-flex justify-content-between bg-white border border-top-0 p-4">
                                <div class="d-flex align-items-center">
                                    {% if post.writer.userprofile.profile_picture %}
                                    <img class="rounded-circle mr-2" src="{{ post.writer.userprofile.profile_picture.url }}" width="25" height="25" alt="Profile Picture">
                                    {% else %}
                                    <img class="rounded-circle mr-2" src="{% static 'img/user.png' %}" width="25" height="25" alt="Default Profile Picture">
                                    {% endif %}
                                    <small>{{ post.writer.username }}</small>
                                </div>
                                <div class="d-flex align-items-center">
                                    <span class="ml-3"><i class="far fa-eye mr-2"></i>{{ post.views }}</span>
                                    <span class="ml-3"><i class="far fa-comment mr-2"></i>{{ post.comments.count }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block extra_js %}
<script src="{% static 'js/jquery.min.js' %}"></script>
<script>
    $(document).ready(function() {
        $('.like-btn').click(function() {
            const post_id = $(this).data('post-id');
            const button = $(this);
            $.ajax({
                url: '{% url 'like_post' %}',
                data: {
                    'post_id': post_id,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                type: 'post',
                dataType: 'json',
                success: function(response) {
                    if(response.liked) {
                        button.text('Unlike');
                    } else {
                        button.text('Like');
                    }
                    button.siblings('.like-count').text(response.total_likes + ' Likes');
                }
            });
        });
    });
</script>
{% endblock %}